@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">payment Successfully!</h1>
        Order Number  : @Model <br /><br />
        <img src="~/images/Product/c5af624e-9477-4f61-b2d5-e132fa8dbdaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
      payment has been applied successfully! <br />
      <a asp-area="admin" asp-controller="order"  asp-action="Details" asp-route-orderID="@Model" class="btn btn-primary">Back to Order Details </a>
    </div>
</div>
